<h2>Users</h2>
<div class="container-add-user">
  <button mat-raised-button color="primary" (click)="addUser()">
    Add User <mat-icon>note_add</mat-icon>
  </button>
</div>
<div class="user-list-table">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Picture Column -->
    <ng-container matColumnDef="picture">
      <th mat-header-cell *matHeaderCellDef>Picture Profile</th>
      <td mat-cell *matCellDef="let element">
        <img [src]="element.picture" alt="" class="user-list-table__img" />
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">
        {{ element.firstName }} {{ element.lastName }}
      </td>
    </ng-container>
    <ng-container matColumnDef="optionals">
      <th mat-header-cell *matHeaderCellDef>Optionals</th>
      <td mat-cell *matCellDef="let element">
        <mat-grid-list cols="3" rowHeight="1:1">
          <mat-grid-tile>
            <button
              mat-mini-fab
              color="primary"
              aria-label="Example icon button with a delete icon"
            >
              <mat-icon>account_box</mat-icon>
            </button>
          </mat-grid-tile>
          <mat-grid-tile>
            <button
              mat-mini-fab
              color="primary"
              aria-label="Example icon button with a delete icon"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </mat-grid-tile>
          <mat-grid-tile>
            <button
              mat-mini-fab
              color="primary"
              aria-label="Example icon button with a delete icon"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-grid-tile>
        </mat-grid-list>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <div class="container-paginator">
    <mat-paginator
    [length]="pageSizeTotalItems"
    [pageSize]="10"
    [pageSizeOptions]="pageSizeOptions"
    (page)="handlePageEvent($event)"
    aria-label="Select page"
  >
  </mat-paginator>
  </div>

</div>
